[submodule "Week 10 - 11/Omniscient"]
	path = Week 10 - 11/Omniscient
	url = git@github.com:ji-easv/Omniscient.git
[submodule "Week 15 - 17/todo-or-not-todo"]
	path = Week 15 - 17/todo-or-not-todo
	url = git@github.com:ji-easv/todo-or-not-todo.git
