@page "/"
@inject HttpClient Http

<div class="content-container">
    <div class="greeting">
        <h1>@GetGreeting()</h1>
    </div>

    <div>
        <select @onchange="OnLanguageChanged" class="form-control custom-select">
            <option value="">Select a language</option>
            @foreach (var language in languages)
            {
                <option value="@language">@language</option>
            }
        </select>
    </div>
</div>

<style>
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #957186;
        text-align: center;
        font-weight: 900;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-style: normal;
        gap: 1rem;
    }

    .form-control {
        width: 250px;
        margin: 0 auto;
        display: block;
    }

    .greeting {
        font-size: 30rem;
        color: #201D1F;
        font-weight: 900;
    }

    .custom-select {
        background-color: #201D1F;
        color: #f0f8ff;
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        border: 1px solid #1A110F;
    }

    .custom-select:focus {
        background-color: #403A3E;
        color: #f0f8ff;
        outline: none;
        box-shadow: 0 0 0 2px #f0f8ff;
        border: 1px solid #1A110F;
    }

    .custom-select option {
        background-color: #201D1F;
        color: #f0f8ff;
    }
</style>

@code {
    private List<string> languages = [];
    private string selectedLanguage;
    private string greeting;
    private string planet;

    protected override async Task OnInitializedAsync()
    {
        // Get the list of languages from the API
        languages = await Http.GetFromJsonAsync<List<string>>("http://localhost:5000/language/list") ?? ["en"];
    }

    private async Task OnLanguageChanged(ChangeEventArgs e)
    {
        selectedLanguage = e.Value.ToString();

        if (!string.IsNullOrEmpty(selectedLanguage))
        {
            // Call the GetGreeting endpoint
            greeting = await Http.GetStringAsync($"http://localhost:5000/greeting?language={selectedLanguage}");

            // Call the GetPlanet endpoint
            planet = await Http.GetStringAsync($"http://localhost:5000/planet?language={selectedLanguage}");
        }
    }
    
    private string GetGreeting()
    {
        if (string.IsNullOrEmpty(greeting) || string.IsNullOrEmpty(selectedLanguage))
        {
            return "Select a language please :(";
        }
        return $"{greeting}, {planet}";
    }
}